html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url('background3.png') no-repeat center center fixed;
    background-size: contain;
    font-family: sans-serif;
    position: relative;
}


.hotspot {
    position: absolute;
    display: block;
    cursor: pointer;
}

.hotspot-quest {
    top: 30%;
    left: 5%;
    width: 40%;
    height: 10%;
}

.hotspot-penguin {
    top: 86%;
    left: 5%;
    width: 50%;
    height: 10%;
}
